body {
    background: white;
    color: black;
    font-family: arial, sans-serif;
}

html, body {
    margin: 0;
}

.wrapper {
    min-width: 1139px;
}

.header {
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-width: 231px;
    margin: 20px 30px 0 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

a {
    text-decoration: none;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    color: black;
}

.header a:nth-child(2) {
    padding-left: 15px;
}

.header a:first-child:hover, .header a:nth-child(2):hover {
    color: #807e7e;
    text-decoration: underline;
}

.menu_icon {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin: 0 20px 0 20px;
    background-size: 17px;
    background-image: url(../assets/images/menu.svg);
}

.menu_icon:hover {
    background-image: url(../assets/images/menu_hover.svg);
}


.header button {
    border: 1px solid #4285f4;
    font-weight: 700;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
}

.header button:hover {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
            box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

.header button span {
    color: white;
}

.google-logo {
    padding: 109px 0 20px 0;
    text-align: center;
}

.search-section input, .search-section, .wrapper-search-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.search-section input {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
    margin-top: 5px;
}

.search-section {
    background: white;
    border: 1px solid #dfe1e5;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 582px;
    padding-right: 8px;
    position: relative;
}

.search-section, .wrapper-search-icon, .wrapper-keyboard-icon, .wrapper-microphone-icon {
    z-index: 1;
}

.wrapper-search-icon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 13px 0 16px;
}

.wrapper-keyboard-icon {
    padding: 0 11px;
    margin-top: 9px;
}

.wrapper-microphone-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 24px;
}

.search-section:hover {
    -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
            box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

.search-icon {
    width: 15px;
}

.microphone-icon {
    width: 14px;
}

.keyboard-icon {
    width: 20px;
}

.btn-wrapper {
    padding-top: 18px;
    margin: 0 auto;
    z-index: 0;
    width: 487px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.btn-wrapper button {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 2;
}

.btn-wrapper button:hover {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: black;
}

.languages {
    margin: 12px auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: small;
}

.languages div {
    display: inline-block;
    line-height: 28px;
}

.languages a {
    text-decoration: none;
    padding: 0 3px;
    color: #1a0dab;
}

.languages a:hover, .footer a:hover {
    text-decoration: underline;
}

.languages a:visited {
    color: #609;
}

.footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    line-height: 40px;
}

.footer div {
    background: #f2f2f2;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    font-size: 10pt;
}

.footer div span:first-child, .footer a {
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.footer div span:first-child {
    margin-left: 30px;
}

.footer a {
    padding-right: 27px;

}

.footer-links-right {
    float: right;
}

